@font-face {
    font-family: "larken";
    src: url(./LarkenDEMO-Regular.otf);
}
@font-face{
    font-family: "larkenl";
    src: url(./LarkenDEMO-Light.otf);
}
@font-face {
    font-family: "satoshi";
    src: url(./Satoshi-Regular.woff);
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}

#nav-switch-parent{
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%,0);
    height: 4vw;
    border-radius: 25px;
    width: 9.7vw;
    z-index: 11;
    /* background-color: #AC9376; */
    cursor: pointer;
}
#nav-switch{
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%,0);
    display: none;
    height: 4vw;
    border-radius: 25px;
    width: 9.7vw;
    z-index: 7;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: all ease, 0.3s;
    gap: 7px;
}


#nav-switch .line{
    height: 2.5px;
    transition: all ease, 0.3s;
    background-color: black;
    width: 35px;
}
#nav-pg{
    height: 130vh;
    width: 100%;
    background-color: #24262B;
    position: absolute;
    z-index: 7;
    top: -130vh;
    /* transition: ease-in,0.5s; */
    transition: all ease-out, 0.5s;

}
#nav-pg #part-1{
    /* height: 10vh; */
    /* background-color:crimson; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
#nav-pg #part-1 a{
    color:  #EDE9E2;
    text-decoration: none;
    font-family: satoshi;
    font-weight: 100;
    font-size: 1.3rem;
}
#nav-pg #part-2{
    /* background-color: blueviolet; */
    padding-left: 9vw;
    padding-top: 2vw;
}
#nav-pg #part-2 h1{
    font-size: 4rem;
    font-family: larken;
    font-weight: 600;
    line-height: 4.5vw;
    /* transition: all ease, 0.4s; */
    cursor: pointer;
    color: #EDE9E2;
}
#nav-pg #part-2 h1:hover{

    color: rgb(172, 147, 118);
}
#nav-pg #part-3{
    display: flex;
    flex-direction: column;
    opacity: 1;
}
#nav-pg #part-3 #part-3-1{
    display: flex;
    /* background-color: brown; */
    /* align-self: center; */
    justify-content: space-between;
}
#nav-pg #part-3 #part-3-1 #part-3-11{
    text-align: left;
    /* background-color: teal; */
    padding-left: 9vw;
    padding-top: 5vw;

}
#nav-pg #part-3 #part-3-1 #part-3-11 h3{
    color: #AC9376;
    font-family: satoshi;
    font-weight: 400;
    font-size: 1.4rem;
}
#nav-pg #part-3 #part-3-1 #part-3-11 p{
    font-family: satoshi;
    font-weight: 300;
    color: #EDE9E2;
    font-size: 1.4rem;
}
#nav-pg #part-3 #part-3-1 #part-3-12{
    text-align: left;
    /* background-color: rgba(0, 255, 255, 0.449); */
    padding-left: 9vw;
    padding-top: 5vw;
    margin-right: 40vw;
}
#nav-pg #part-3 #part-3-1 #part-3-12 h3{
    color: #AC9376;
    font-family: satoshi;
    font-weight: 400;
    font-size: 1.4rem;
}
#nav-pg #part-3 #part-3-1 #part-3-12 p{
    font-family: satoshi;
    font-weight: 300;
    color: #EDE9E2;
    font-size: 1.4rem;   
}
#nav-pg #part-3 #part-3-2{
    display: flex;
    /* background-color: blanchedalmond; */
    padding-left: 9vw;
    padding-right: 40vw;
    padding-top: 5vw;
    justify-content: space-between;
}
#nav-pg #part-3 #part-3-2 #part-3-21{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}
#nav-pg #part-3 #part-3-2 #part-3-21 h6{
    font-size: 1.4rem;
    font-weight: 200;
    font-family: satoshi;
    color: #EDE9E2;
}
#nav-pg #part-3 #part-3-2 #part-3-21 h6 i{
    color: #AC9376;
}
#nav-pg #part-3 #part-3-2 #part-3-21 p{
    font-family: satoshi;
    font-weight: 300;
    color: #9C9B99;

    font-size: 1.4rem;  
}
#nav-pg #part-3 #part-3-2 #part-3-22{
    display: flex;
    flex-direction: column;
    /* background-color: rgba(0, 0, 255, 0.586); */
}
#nav-pg #part-3 #part-3-2 #part-3-22 h6{
    font-size: 1.4rem;
    font-weight: 200;
    font-family: satoshi;
    color: #EDE9E2;
}
#nav-pg #part-3 #part-3-2 #part-3-22 h6 i{
    color: #AC9376;
}
#nav-pg #part-3 #part-3-2 #part-3-22 p{
    font-family: satoshi;
    font-weight: 300;
    color: #9C9B99;

    font-size: 1.4rem;  
}
#nav-pg #part-3 #part-3-2 #part-3-23{
    display: flex;
    flex-direction: column;
    /* background-color: rgba(78, 78, 225, 0.335); */
}
#nav-pg #part-3 #part-3-2 #part-3-23 h6{
    font-size: 1.4rem;
    font-weight: 200;
    font-family: satoshi;
    color: #EDE9E2;
}
#nav-pg #part-3 #part-3-2 #part-3-23 p{
    font-size: 1.4rem;
    font-weight: 200;
    font-family: satoshi;
    color: #EDE9E2;
}
#pg1 nav{
    position: absolute;
    top: 0;
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    /* z-index: 7; */

}
#pg1 nav i {
    color: #AC9376;
    font-size: 1.3rem;
    font-weight: 100;
    /* width: 2rem; */
}
#pg1 nav a{
    color: #24262B;
    text-decoration: none;
    font-family: satoshi;
    font-weight: 100;
    font-size: 1.3rem;
}
#pg1{
    height: 100vh;
    width: 100%;
    background-color: #EDE9E2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#pg1 h1{
    text-align: center;
    font-size: 10vw;
    color: #24262B;
    font-weight: 600;
    font-family: "larken";
    line-height: 20vh;
}
#pg1 h1 span{
    color: #AC9376;
    font-weight: 600;
}
#pg1 img{
    position: absolute;
    top: 87%;

    height: 100%;
    width: 27%;
    object-fit: cover;
    object-position: center;
    /* position: fixed; */
}
#pg2{
    height: 100vh;
    width: 100%;
    background-color: #EDE9E2;
    text-align: center;
    
    
}
#pg3{
    height: 100vh;
    width: 100%;
}