@font-face {
    font-family: "larken";
    src: url(./LarkenDEMO-Regular.otf);
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
#pg1{
    height: 100vh;
    width: 100%;
    background-color: #EDE9E2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#pg1 h1{
    text-align: center;
    font-size: 10vw;
    color: #24262B;
    font-weight: 600;
    font-family: "larken";
    line-height: 20vh;
}
#pg1 h1 span{
    color: #AC9376;
    font-weight: 600;
}
#pg1 img{
    position: absolute;
    top: 85%;

    height: 100%;
    width: 30%;
    object-fit: cover;
    object-position: center;
    /* position: fixed; */
}
#pg2{
    height: 100vh;
    width: 100%;
    background-color: #EDE9E2;
    text-align: center;
    
    
}
#pg3{
    height: 100vh;
    width: 100%;
}